.table {
    font-size: .7rem;
}


.content {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    text-align: center;
    padding-top:25px;
}

button {
    margin:20px;
    position: relative;
    padding-left: 100px;
}
.caret {
    position: absolute;
    bottom: 1px;
    right: 100px;
    text-align: right;

}




/* Nav Bar CSS */

    .navbar-brand {
        padding: 0;
      }

        .nav-link {
            padding-top: 90px;
            padding-bottom: 0;
            height: 10px;
            line-height: 10px;
            /* padding-left: 20px;
            padding-right: 20px; */
            color: black;
        }

        .nav-link:hover {
            color: #ffc229;
        }

        .active {
            color: light-grey;
        }

/* End of Nav Bar CSS */




/* Recommendations Page CSS */
        .filters {
        padding-left: 0px;

        }

        .list-group-item {
            border: none;
        }



   /* Form Sections on Recommendations Page */
        .form-section {
            padding-top: 50px;
        }


        #table-area {
            padding-top:50px;
        }

    /* Bitterness Slider */
        .slider {
            -webkit-appearance: none;
            width: 70%;
            height: 15px;
            border-radius: 5px;  
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }
        
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%; 
            background: #ffc229;
            cursor: pointer;
        }
        
        .slider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #ffc229;
            cursor: pointer;
        }

    /* Alcohol Slider */
        .alcSlider {
            -webkit-appearance: none;
            width: 70%;
            height: 15px;
            border-radius: 5px;  
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }
        
        .alcSlider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            border-radius: 50%; 
            background: #ffc229;
            cursor: pointer;
        }
        
        .alcSlider::-moz-range-thumb {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: #ffc229;
            cursor: pointer;
        }

/* ########  End of Recommendations Page CSS  ########*/




/*  ########  Map Page CSS ########*/
    #map {
        height: 100%;
        }

    .map-container {
        height: 500px;
        padding: 0px 1rem 1rem 1rem;
        padding: 0px 1vmin 1vmin 1vmin;
    }

    .map-frame {
        height: 500px;
        width: 100%;
        outline: 1px solid black;
    }

/* ########   End of Map Page CSS   ########*/




/* Bunny Animation */
    .bunny-row {
        width:200px;
        height:200px;
        content:url("../../Resources/Assets/bunny-static.png");
    }


    .bunny-row:hover {
        width:200px;
        height:200px;
        content:url("../../Resources/assets/bunny-short-gif.png");
        
    }



/* About Us Page CSS */


    #meet-the-team {
        background-color: lightgrey;
    }


/* End of About Us Page CSS */
