.navbar-brand {
    padding: 0;
  }


/* Style the Nav Links */
    .nav-link {
        padding-top: 90px;
        padding-bottom: 0;
        height: 10px;
        line-height: 10px;
        /* padding-left: 20px;
        padding-right: 20px; */
        color: black;
    }

    .nav-link:hover {
        color: #ffc229;
    }

.active {
    color: light-grey;
}

/* Testing */
    #current-nav-link {
        color: grey;
    }


.content {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    text-align: center;
    padding-top:25px;
}


#map {
  height: 100%;
}

.map-container {
    height: 100%;
    /* Fallback for vmin */
    padding: 0px 1rem 1rem 1rem;
    padding: 0px 1vmin 1vmin 1vmin;
  }
  .map-frame {
    height: 100%;
    width: 100%;
  /*   We use outline over border as has issues in some cases */
    outline: 1px solid black;
  }

  @supports (display: flex) {
    .map-container {
      height: 0;
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
    }
    .map-frame {
      -webkit-box-flex: 1;
          -ms-flex: 1 0 auto;
              flex: 1 0 auto;
    }
  }


/* Form Sections on Recommendations Page */
.form-section {
    padding-top: 50px;
}



/* Bunny Animation */
    .bunny-row {
        width:200px;
        height:200px;
        content:url("../../Resources/Assets/bunny-static.png");
    }


    .bunny-row:hover {
        width:200px;
        height:200px;
        content:url("../../Resources/assets/bunny-short-gif.png");
        
    }







#meet-the-team {
    background-color: lightgrey;
}






button {
    margin:20px;
    position: relative;
    padding-left: 100px;
}
.caret {
    position: absolute;
    bottom: 1px;
    right: 100px;
    text-align: right;

}