.navbar-brand {
    padding: 0;
  }


/* Style the Nav Links */
    .nav-link {
        padding-top: 90px;
        padding-bottom: 0;
        height: 10px;
        line-height: 10px;
        /* padding-left: 20px;
        padding-right: 20px; */
        color: black;
    }

    .nav-link:hover {
        color: #ffc229;
    }

.active {
    color: light-grey;
}

/* Testing */
    #current-nav-link {
        color: grey;
    }


.content {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.header {
    text-align: center;
    padding-top:25px;
}


/* Bunny Animation */
    .bunny-row {
        width:200px;
        height:200px;
        content:url("../../Resources/Assets/bunny-static.png");
    }


    .bunny-row:hover {
        width:200px;
        height:200px;
        content:url("../../Resources/assets/bunny-short-gif.png");
        
    }







#meet-the-team {
    background-color: lightgrey;
}






button {
    margin:20px;
    position: relative;
    padding-left: 100px;
}
.caret {
    position: absolute;
    bottom: 1px;
    right: 100px;
    text-align: right;

}