<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <title>About This Data</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="../static/css/style.css">

      
      <!-- Import the Plotly library -->
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  </head>
    
  <body>

<!-- Navbar -->
<nav class="navbar-brand-center navbar-light bg-light">
    <div>
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" href="analysis.html">Beers of the World</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="recommendation.html">Get Recommendations</a>
            </li>
            <a href="index.html" class="navbar-brand img-responsive">
                <img class="logo" src="../Resources/Assets/brewery-hopper-logo.png"></a> 
            <li class="nav-item">
                <a class="nav-link" href="map.html">Explore Brewery Map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="about-this-data.html">About this Data</a>
            </li>
        </ul>
    </div>
</nav>

  <!-- Summary -->
  <div class="content">
    <div class="row">
        <div class="col-md-8">
                <h3>About this data</h3>
                <p>Talk about data here</p>
        </div>

        <div class="col-md-4" id="meet-the-team">
          <h3>Meet our team!</h3>
          <p>Talk about our team here</p>
        </div>
    </div>

    <div class="bunny-row">
        <span>
            <div class="col-md-1" id="bunny">
                <!-- Empty Div to be filled in with CSS animation -->
            </div>
        </span>
    </div>
</div>  


    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>

    <!-- Marker Cluster JS -->
    <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

    <!-- Import the main JavaScript code. -->
    <script type="text/javascript" src="static/js/main.js"></script>

    <!-- mystery scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  </body>
  
</html>
  